.accent-list {
  .list-group-item {
    position: relative;
    padding-left: 40px;
    display: list-item;
    list-style: none;
    border: none;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      background-image: url(../images/icons/checkMark.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 10px;
      height: 10px;
      left: 20px;
    }
  }

  &--type2 {
    .list-group-item {
      &::before {
        background-image: url(../images/icons/checkMark2.svg);
        left: 0;
        width: 25px;
        height: 25px;
      }
    }
  }
}