* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: $font-size;
  color: $clr-primary;
}

.ax-container {
  margin: 0 30px;

  @include wide-screen-lg {
    margin: 0 140px;
  }
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

p {
  @include wide-screen-lg {
    font-size: 1.5rem;
  }
}

.bgr-accent {
  background: transparent linear-gradient(180deg, #D6D5FF 0%, #EBEBFF 100%) 0% 0% no-repeat padding-box;
}
.bgr-grad {
  background: transparent linear-gradient(270deg, #5C50FA 0%, #A8A2F8 100%) 0% 0% no-repeat padding-box;}