.footer {
  background-color: $clr-accent;
  color: $clr-light;
  padding: 20px 0;

  &__title {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 700;

    @include mobile-lg {
      font-size: 1.25em;
    }
    @include wide-screen-sm {
      font-size: 1.5rem;
    }
  }

  &__info {
    padding: 20px 20px 20px 20px;
    flex: 0 0 100%;
    text-align: center;

    @include mobile-lg {
      flex: 0 0 50%;
    }

    @include desktop-sm {
      text-align: left;
    }

    @include wide-screen-sm {
      flex: 0 0 30%;
      padding: 20px 20px 20px 0;
    }
  }

  &__top {
    padding-bottom: 20px;
  }

  &__bottom {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include mobile-lg {
      flex-direction: row;
    }

    .copyright {
      margin-top: auto;
      order: 1;

      @include mobile-lg {
        order: 0;
      }
    }

    .socials {
      padding-bottom: 40px;
      display: flex;
      justify-content: flex-end;

      @include mobile-lg {
        padding-bottom: 0;
      }

      a {
        margin-right: 20px;
        transition: filter .3s;

        &:last-of-type {
          margin: 0;
        }

        &:hover {
          filter: invert(30%);
        }
      }
    }
  }

  &--inverse {
    background-color: $clr-light;
    color: $clr-accent;
  }
}