.functionne {
  margin: 0;
  padding: 0;

  @include mobile-lg {
    margin: 0 30px;
  }

  @include wide-screen-lg {
    margin: 0 140px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;

    @include mobile-md {
      font-size: 1.5rem;
    }

    @include tablet {
      font-size: 2rem;
      margin-bottom: 30px;
    }

    @include wide-screen-lg {
      font-size: 3rem;
      margin-bottom: 60px;
    }
  }

  &__list {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include wide-screen-lg {
      margin-bottom: 150px;
    }

    .media {
      padding: 10px 0;
      flex-direction: column;

      @include tablet {
        padding: 20px 0;
        flex-direction: row;
      }

      @include wide-screen-lg {
        padding: 50px 0;
      }

      &-body {
        padding: 20px;

        @include desktop-sm {
          padding: 30px;
        }

        @include wide-screen-sm {
          padding: 50px 50px 50px 80px;
        }

        @include wide-screen-lg {
          padding: 75px 40px 40px 180px;
        }
      }

      .number {
        &-item {
          margin-top: -2px;
          margin-right: 20px;
          max-width: 30px;
          max-height: 30px;
          float: left;

          @include wide-screen-lg {
            margin-right: 0;
            margin-left: -80px;
            max-width: 50px;
            max-height: 50px;
          }
        }
      }

      &-title {
        font-weight: 700;
        margin-bottom: 15px;

        @include mobile-lg {
          font-size: 1.5rem;
        }

        @include desktop-md {
          font-size: 1.75rem;
        }

        @include wide-screen-lg {
          font-size: 2.5rem;
        }
      }

      p {
        @include wide-screen-lg {
          font-size: 1.5rem;
        }
      }
    }

    &--bgr-prim {
      .media:nth-of-type(odd) {
        background-color: #D6D5FF;
      }
    }

    &--bgr-sub {
      .media:nth-of-type(odd) {
        background-color: #fafafa;
      }
    }

    &--bgr-inverse {
      .media:nth-of-type(odd) {
        background-color: #fff;
      }
    }

    &--m-less {
      @include wide-screen-lg {
        margin-bottom: 50px;
      }
    }

    &--alone {
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;

      @include mobile-lg {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include tablet {
        margin-top: 50px;
      }
      @include wide-screen-lg {
        margin-top: 70px;
        margin-bottom: 70px;
      }
    }
  }

  &--height-p {
    padding-top: 20px;

    @include tablet {
      padding-top: 30px;
    }

    @include wide-screen-lg {
      padding-top: 70px;
    }
  }
}