.functionne {
  margin: 0;
  padding: 0;

  &__title {
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;

    @include tablet {
      font-size: 2rem;
      margin-bottom: 30px;
    }

    &--left-side {
      text-align: left;
      padding-left: 20px;

      @include desktop-sm {
        padding-left: 30px;
      }

      @include wide-screen-sm {
        padding-left: 80px;
      }
    }
  }

  &__list {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 50px;
    }

    .media {
      padding: 10px 0;
      flex-direction: column;
      align-items: center;

      @include tablet {
        padding: 20px 0;
        flex-direction: row;
      }

      &-img-container {
        img {
          @include mobile-lg {
            padding: 0 30px;
          }
          @include tablet {
            padding: 0;
          }
          @include desktop-md {
            padding: 0 30px;
          }
        }
      }

      &-body {
        padding: 20px;
        margin: auto;
        flex: auto;

        @include desktop-sm {
          padding: 30px;
        }

        @include wide-screen-sm {
          padding: 0 50px 0 80px;
        }
      }

      .number {
        &-item {
          margin-top: -2px;
          margin-right: 20px;
          max-width: 30px;
          max-height: 30px;
          float: left;

          @include wide-screen-sm {
            margin-left: -50px;
          }
        }
      }

      &-title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 1.125rem;

        @include mobile-lg {
          font-size: 1.5rem;
        }

        @include desktop-md {
          font-size: 1.75rem;
        }
      }
    }

    &--bgr-prim {
      .media:nth-of-type(odd) {
        background-color: #D6D5FF;
      }
    }

    &--bgr-sub {
      .media:nth-of-type(odd) {
        background-color: #fafafa;
      }
    }

    &--bgr-inverse {
      .media:nth-of-type(odd) {
        background-color: #fff;
      }
    }

    &--alone {
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;

      @include tablet {
        margin-top: 50px;
      }
    }
  }

  &--height-p {
    padding-top: 20px;

    @include tablet {
      padding-top: 30px;
    }
  }
}