.header {
  padding: 20px 0;

  &__logo {
    width: auto;
    max-width: 150px;

    @include desktop-sm {
      margin-right: 30px;
      max-width: 200px;
    }

    img {
      transition: filter 1s;
    }

    &:hover,
    &:focus {
      img {
        filter: hue-rotate(-22deg);
      }
    }
  }

  &__navbar {
    margin-bottom: 30px;

    @include desktop-sm {
      margin-bottom: 0;
    }

    .nav-item {
      margin-bottom: 10px;

      @include desktop-sm {
        margin-right: 20px;
        margin-bottom: 0;
      }

      .nav-link {
        position: relative;

        @include wide-screen-sm {
          font-size: 1.25rem;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0%;
          height: 3px;
          background-color: $clr-accent;
          opacity: 0;
          transition: width .4s;

          @include desktop-sm {
            bottom: -10px;
            width: 0%;
          }
        }

        &:hover::before,
        &:focus::before {
          opacity: 1;
          width: 100%;

          @include desktop-sm {
            width: 80%;
          }
        }
      }

      &.active {
        .nav-link {
          &::before {
            opacity: 1;
            width: 100%;

            @include desktop-sm {
              width: 80%;
            }
          }
        }
      }
    }

    .nav-link {
      display: inline-block;
      font-family: $font-submain;
      font-weight: 700;
      color: $clr-black !important;
    }
  }

  &__menu {
    padding-left: 40px;

    @include desktop-sm {
      padding-left: 0;
    }
  }

  &__toggler {
    padding: 0;
    border: none;

    .navbar-toggler-icon {
      background-image: none;
    }
  }

  &__btn {
    button {
      background-color: $clr-accent;

      @include desktop-md {
        padding: 10px 20px;
      }

      &:hover,
      &:focus {
        background-color: $clr-primary;
      }
    }
  }
}