.hero {
  padding: 50px 15px 50px;
  font-family: $font-submain;
  background: linear-gradient(180deg, #695EFC 0%, rgba(185, 185, 255, 0) 100%) 0% 0% no-repeat;

  @include wide-screen-md {
    padding: 100px 15px 200px;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: $clr-light;

    @include mobile-lg {
      font-size: 1.75rem;
    }

    @include tablet {
      font-size: 2rem;
    }

    @include wide-screen-sm {
      font-size: 2.5rem;
    }
  }

  .card-container {
    margin-bottom: 30px;

    @include mobile-lg {
      margin-bottom: 50px;
    }

    .card {
      margin-bottom: 50px;
      background-color: transparent;
      border: none;

      @include tablet {
        margin-bottom: 0;
      }

      &-body {
        padding: 0;
      }

      &-title {
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        color: $clr-light;

        @include mobile-lg {
          font-size: 1.5rem;
        }
        @include tablet {
          font-size: 2rem;
        }
      }
    }
  }

  &__caption {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;

    @include mobile-lg {
      font-size: 1.5rem;
    }
    @include tablet {
      font-size: 2rem;
    }
  }
}

.hero-media {
  padding: 50px 0 20px;
  color: $clr-light;
  flex-direction: column;

  @include desktop-sm {
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
  }

  @include wide-screen-md {
    padding: 220px 0 250px;
  }

  &__title {
    font-size: 1.5rem;
    font-family: $font-submain;
    font-weight: 700;

    @include mobile-lg {
      font-size: 1.75rem;
    }

    @include tablet {
      font-size: 2.25rem;
    }

    @include desktop-sm {
      margin-bottom: 20px;
    }

    @include wide-screen-sm {
      font-size: 3rem;
    }

    &--font-accent {
      font-family: $font-title;
    }
  }

  &__caption {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 40px;

    @include mobile-lg {
      font-size: 1.25rem;
    }

    @include tablet {
      font-size: 1.5rem;
    }

    @include wide-screen-sm {
      font-size: 2rem;
    }

    .price {
      font-size: 1.2em;
    }

    .caption {
      font-weight: 400;
    }

    &--font-accent {
      font-family: $font-accent;
      font-size: 1.25rem;
      font-weight: 500;

      @include tablet {
        font-size: 2.125rem;
      }
    }
  }

  .media-body {
    margin-bottom: 30px;
    padding: 0;

    .main-cta {
      font-weight: 400;
    }
  }
}

.hero-bg-1,
.hero-bg-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg-1 {
  background-image: url(../images/2backgroung.png);
}

.hero-bg-2 {
  background-image: url(../images/background3.png);
}