.intro {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 700;
    font-size: 1.25rem;

    @include mobile-lg {
      margin-bottom: 30px;
      font-size: 1.5rem;
    }
    @include desktop-sm {
      margin-bottom: 50px;
    }
    @include wide-screen-sm {
      font-size: 2rem;
    }
  }

  &__content {

    @include tablet {
      text-align: center;
    }
   
    .content-title {
      font-weight: 700;
      font-size: 1rem;

      @include mobile-lg {
        font-size: 1.25rem;
      }
    }

    p {
      @include desktop-sm {
        font-size: 1.125rem;
      }
    }
  }

  &__cards {
    padding: 0;

    @include mobile-lg {
      padding-left: 15px;
      padding-right: 15px;
    }

    .card {
      border: none;
      background-color: transparent;
      padding: 0;

      @include mobile-lg {
        padding-left: 15px;
        padding-right: 15px;
      }

      &-title {
        font-weight: 700;
      }
    }

    .img-container {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 220px;
      overflow: hidden;
      
      img {
        width: 70%;
      }
    }
  }
}