.intro {
  padding-top: 30px;
  padding-bottom: 30px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include wide-screen-lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 700;

    @include mobile-lg {
      margin-bottom: 30px;
    }
    @include desktop-sm {
      margin-bottom: 50px;
    }
    @include wide-screen-lg {
      margin-bottom: 80px;
      font-size: 3rem;
    }
  }

  &__content {

    @include tablet {
      text-align: center;
    }
    @include wide-screen-lg {
      padding-right: 30px;
      padding-left: 30px;
    }
   
    .content-title {
      font-weight: 700;

      @include wide-screen-lg {
        font-size: 1.875rem;
      }
    }

    p {
      @include desktop-sm {
        font-size: 1.125rem;
      }
      @include wide-screen-lg {
        font-size: 1.5rem;
      }
    }
  }

  &__cards {
    .card {
      border: none;
      background-color: transparent;

      &-title {
        font-weight: 700;

        @include wide-screen-lg {
          font-size: 1.875rem;
        }
      }
    }

    .img-container {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 220px;
      overflow: hidden;

      @include wide-screen-lg {
        width: 250px;
        height: 250px;
      }
      
      img {
        width: 70%;

        @include wide-screen-lg {
          width: 100%;
        }
      }
    }
  }
}