.palette {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fafafa;

  @include tablet {
    margin-bottom: 50px;
  }

  &__title {
    text-align: center;
    font-family: $font-title;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 1.25rem;

    @include desktop-sm {
      margin-bottom: 50px;
      font-size: 2rem;
    }
  }

  &__row {

    .card {
      background-color: transparent;
      border: none;

      &-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 150px;
        }
      }

      &-body {
        padding: 20px 0;
      }
      &-title {
        text-align: center;
        font-size: 1rem;

        @include mobile-lg {
          font-size: 1.25rem;
        }
      }
    }
  }
}