.simple-carousel {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    font-weight: 700;
    font-size: 1.5rem;

    @include wide-screen-sm {
      font-size: 2.25rem;
    }
  }

  .card-container {
    margin-bottom: 30px;

    .card-row {
      padding-top: 40px;
      padding-bottom: 40px;

      @include tablet {

      margin-right: -45px;
      margin-left: -45px;
      }

      .card {
        margin-bottom: 40px;
        border: none;
        background-color: transparent;
        z-index: 1;

        @include tablet {
          padding: 0 45px;
        }

        &-title {
          font-weight: 700;
          text-align: center;
          font-size: 1.125rem;

          @include mobile-lg {
            font-size: 1.25rem;
          }
        }

        &-img {
          position: relative;

          img {
            border: 3px solid $clr-accent;
            
          }

          &::after {
            content: '';
            background-color: $clr-accent;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transform: matrix(-1, 0.09, -0.09, -1, 0, 0);
          }
        }
      }

      .card:nth-child(even) {
        .card-img::after {
          transform: matrix(1, 0.09, -0.09, 1, 0, 0);
        }
      }
    }
  }

  .slider {
    padding: 20px;
    background-color: $clr-light;

    @include tablet {
      padding: 30px;
    }
    @include desktop-sm {
      padding: 30px 45px;
    }

    &-title {
      font-family: $font-title;
      font-weight: 700;
      font-size: 1.25rem;

      @include mobile-lg {
        font-size: 1.75rem;
      }
    }
  }

  .carousel {
    padding-bottom: 40px;

    @include desktop-sm {
      padding-bottom: 50px;
    }

    .carousel-item {
      max-height: 600px;
    }

    .carousel-indicators {
      li {
        box-sizing: border-box;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border-bottom: none;
        border-top: none;
        background-color: $clr-accent;
        opacity: 1;
        transition: .5s;

        &.active {
          box-shadow: 0 0 3px $clr-accent;
          background-color: $clr-light;
        }

        @include desktop-sm {
          width: 8px;
          height: 8px;
          &.active {
            box-shadow: 0 0 4px $clr-accent;
          }
        }
      }
    }
  }
}
