.simple-caption {
  padding: 20px;
  text-align: center;

  @include tablet {
    padding: 30px;
  }

  @include desktop-sm {
    padding: 40px;
  }

  .simple-carousel__title {
    margin: 0 auto 20px;
  }
}

.simple-price {
  padding: 20px 0;
  text-align: left;
  color: $clr-light;

  @include tablet {
    padding: 40px 0;
  }

  &__item {

    &--bold {
      font-weight: 700;
    }
    &--mb {
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__title-main,
  &__title-sub {
    font-family: $font-title;
    font-weight: 700;
  }

  &__title-main {
    font-size: 1.25rem;

    @include tablet {
      font-size: 1.875rem;
    }

    span {
      font-size: 1.2em;
      font-family: $font-accent;
    }
  }

  &__title-sub {
    font-size: 1.25rem;

    @include tablet {
      font-size: 1.75rem;
    }
  }

  .list-group {
    border: 2px solid $clr-light;

    .list-group-item {
      position: relative;
      padding-left: 40px;
      display: list-item;
      list-style: none;
      border: none;
      background-color: transparent;
      font-size: 0.875rem;

      @include mobile-lg {
        font-size: 1rem;
      }

      &::before {
        content: '';
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 10px;
        height: 10px;
        background: url(../images/icons/checkMark.svg) center no-repeat;
        background-size: contain;
      }
    }
  }
}