//fonts variables
$font-main: 'Open Sans', sans-serif;
$font-submain: 'Source Sans Pro', sans-serif;
$font-title: 'Futura', sans-serif;
$font-accent: 'Avenir Next LT Pro', sans-serif;

$font-size: 16px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
$clr-primary: #4239BC;
$clr-accent: #695EFC;
$clr-black: #000000;
$clr-light: #ffffff;